commands:
  save_env_var_to_file:
    command: echo $myvarname > varfile.txt
    cwd: /tmp
    env:
      myvarname: myvarvalue
  show_file:
    command: cat varfile.txt
    cwd: /tmp
  show_downloaded_file:
    command: ls /tmp
  access_to_ecr:
    command: eval $(aws ecr get-login --no-include-email --region us-east-1)
  show_docker_login:
    command: cat ~/.docker/config.json
  cp_s3:
    command: aws s3 cp s3://bs01-test/codebuild01.zip/build_id.txt /tmp/build_id.txt
